<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for message in messages %}
    <p style="color:red">{{message}}</p>
{% endfor %}
    <!--Login Form-->
    <form action="login" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Login Form</legend>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <br>
            <input type="submit" value="Login">
        </fieldset>
    </form>
</body>
</html>